<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvh form</title>

</head>
<body>
    <div class="container">
        <div class="reg-form">
            <form action="">
                <div class="pic-logo">
                    <img src="../assets/tut-logo.png">
                </div>
                <div class="heading">
                    <h1>TVH Registration Form</h1>
                </div>
                <p>Full Names</p>
                <input type="text" class="name" placeholder="Enter your full names" required>
                <p>Surname</p>
                <input type="text" class="name" placeholder="Enter your surname" required>
                <p>Student Number</p>
                <input type="text" class="name" placeholder="Enter your student number" required>
                <div class="gen-date">
                    <p>Gender</p>
                    <br>
                    <select class="the-gender">
                        <option value="choose">Choose Option</option>
                        <option value="male">Male</option>
                        <option value="male">Female</option>
                    </select>
                    <p>Date Of Birth</p>
                    <input type="date" class="date" placeholder="Enter your date of birth" required>
                </div>
                <p>Email Address</p>
                <input type="text" class="email" placeholder="Enter your email" required>
                <p>Mobile Number</p>
                <input type="text" class="number" placeholder="Enter your cellphone number" required>
                <p>Campus</p>
                <br>
                <select class="your-insti">
                    <option value="choose">Choose Option</option>
                    <option value="sos">Soshanguve Campus</option>
                    <option value="ema">Emalahleni Campus</option>
                    <option value="pre">Pretoria Campus</option>
                    <option value="art">Art Campus</option>

                </select>
                <p>Faculty</p>
                <br>
                <select class="your-insti">
                    <option value="choose">Choose Option</option>
                    <option value="tut"> Faculty Of Information And Communication Technology</option>
                    <option value="up">Faculty Of Management Sciences</option>
                    <option value="smu">Faculty Of Arts And Design</option>
                </select>
                <p>Specialization</p>
                <input type="text" class="name" placeholder="Enter your specialization" required>
                <p>Mobile Number</p>
                <input type="text" class="number" placeholder="Enter your cellphone number" required>
                <p>Participant Skills</p>
                <br>
                <select class="your-insti">
                    <option value="choose">Choose Option</option>
                    <option >Analyst</option>
                    <option >Frontend Developer</option>
                    <option >Backend Developer</option>
                    <option >Graphic designer</option>
                    <option >Marketer</option>
                </select>
                <p>Level</p>
                <br>
                <select class="your-insti">
                    <option value="choose">Choose Option</option>
                    <option >First Year</option>
                    <option >Second Year</option>
                    <option >Final Year</option>
                </select>
                <p>Hobby</p>
                <input type="text" class="email" placeholder="State your hobby" required>
                <button type="button"  class="submit-btn" >Submit</button>
            </form>
        </div>

    </div>

</body>
</html>
