<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvh form</title>

</head>
<body>
    <div class="container">
        <div class="reg-form">
            <form action="">
                <p>First And Last Name</p>
                <input type="text" class="name" placeholder="Enter your full names">
                <div class="gen-date">
                    <p>Gender</p>
                    <br>
                    <select class="the-gender">
                        <option value="choose">Choose Option</option>
                        <option value="male">Male</option>
                        <option value="male">Female</option>
                    </select>
                    <p>Date Of Birth</p>
                    <input type="date" class="date" placeholder="Enter your date of birth">
                </div>
                <p>Student Mail</p>
                <input type="text" class="email" placeholder="Enter your student email">
                <p>Institution</p>
                <br>
                <select class="your-insti">
                    <option value="choose">Choose Option</option>
                    <option value="tut">Tshwane University Of Technology</option>
                    <option value="up">University Pretoria</option>
                    <option value="smu">Sefako Makgatho University</option>
                    <option value="unisa">Unisa</option>

                </select>
                <p>Recent Proof Of Registration</p>
                <input type="file" class="browser" >
                <p>Mobile Number</p>
                <input type="text" class="number" placeholder="Enter your cellphone number">
                <p>Programming Skills?</p>
                <br>
                <select class="your-insti">
                    <option value="choose">Choose Option</option>
                    <option value="male">Yes</option>
                    <option value="male">No</option>


                </select>
                <p>Status</p>
                <br>
                <select class="status">
                    <option value="choose">Choose Option</option>
                    <option value="team">Team</option>
                    <option value="male">Individual</option>
                </select>
                <p>How Did you Hear About Us?</p>
                <br>
                <select class="about-us">
                    <option value="choose">Choose Option</option>
                    <option value="friends">Friends</option>
                    <option value="male">Tshwane University Of Technology</option>
                    <option value="male">Other Sites</option>
                    <option value="male">Social Media</option>
                </select>

                <input type="submit" value="Submit">

            </form>
        </div>

    </div>

</body>
</html>
