@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";

@media (min-width:1281px){
  *{
    margin: 0;
    padding: 0;
  }
}
  .nav-links{
    display: flex;
    justify-content:center ;
    align-items: right;
    background: #fff;
    position: sticky;
    top: 0;

}
nav img{
  width: 70px;
  margin-left: -220px;
  margin-top: 5px;
}
.nav-links ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
    color: white;
}
.nav-links ul li{
    font-family: Arial;
    font-size: 18px;
    position: relative;
    right: -28%;

}
.nav-links h1{
  color: black;
  margin-top: 15px;
  position: relative;
  left: -8%;
  font-size: 27px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #003782;
    padding: 8px 12px;
    transition: all .5s ease;
}
  
  .registerbtn {
    background-color: #003782;
    color: white;
    padding: 0px 20px;
    margin: 15px 0;
    margin-top: -2%;
    margin-left: 31%;
    border-radius: 15px;
    border: 2px solid #003782;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 20px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }

  .heading h2{
    color: black;
    margin-top: 35px;
    position: relative;
    left: 15%;
    font-size: 35px;


  }
    
    #name{
        width: 100%;
        height: 100px;
    }
    .name{
        margin-top: 2px;
        width: 250px;
        color: black;
        font-size: 18px;
        margin-left: 15%;
    }

  
  .firstname{
      position: relative;
      left: 21.5%;
      top: -30px;
      line-height: 40px;
      width: 400px;
      border-radius: 6px;
      padding: 0 22px;
      font-size: 16px;
      margin: 5px 0 3px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
  }

  .surname{
    margin-top: -3.5%;
    width: 250px;
    color: black;
    font-size: 18px;
    margin-left: 46%;
}

  .lastname{
    position: relative;
    left: 52%;
    top: -31px;
    line-height: 40px;
    width: 400px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    margin: 5px 0px 5px 0px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
      
}
.age{
    margin-top: 2px;
    width: 250px;
    color: black;
    font-size: 18px;
    margin-left: 15%;
}

.years{
    position: relative;
      left: 21.5%;
      top: -30px;
      line-height: 40px;
      width: 400px;
      border-radius: 6px;
      padding: 0 22px;
      font-size: 16px;
      margin: 5px 0 3px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      
}

.gen-date{
    display: inline;
    }

    .the-gender{
        position: relative;
        left: 21.5%;
        top: -30px;
        line-height: 40px;
        width: 445px;
        border-radius: 6px;
        padding: 9px 22px;
        font-size: 16px;
        margin: 5px 0 3px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    .option{
        position: relative;
        border-radius: 6px;
        width: 740px;
        padding: 10px 22px;
        font-size: 16px;
        margin: 5px 0 15px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
        outline: none;
        overflow: hidden;
      }
    .studentnum{
     margin-top: 2px;
    width: 100px;
    color: black;
    font-size: 18px;
    margin-left: 15%;

      }
      .student-number{
        position: relative;
        left: 21.5%;
        top: -45px;
        line-height: 40px;
        width: 400px;
        border-radius: 6px;
        padding: 0 22px;
        font-size: 16px;
        margin: 5px 0 3px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;

      }
      .email-add{
        margin-top: 2px;
        width: 250px;
        color: black;
        font-size: 18px;
        margin-left: 15%;

      }
      .email{

        position: relative;
        left: 21.5%;
        top: -30px;
        line-height: 40px;
        width: 400px;
        border-radius: 6px;
        padding: 0 22px;
        font-size: 16px;
        margin: 5px 0 3px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;


      }
      .cellphone{
        margin-top: -4%;
        width: 100px;
        color: black;
        font-size: 18px;
        margin-left: 46%;

      }

    .number{
        position: relative;
        left: 52%;
        top: -45px;
        line-height: 40px;
        width: 400px;
        border-radius: 6px;
        padding: 0 22px;
        font-size: 16px;
        margin: 5px 0px 5px 0px;
        display: inline-block;
        border: none;
        background: #f1f1f1;

    }

    .your-insti{

        position: relative;
        left: 21.5%;
        top: -30px;
        line-height: 40px;
        width: 445px;
        border-radius: 6px;
        padding: 9px 22px;
        font-size: 16px;
        margin: 5px 0 3px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    
    .special{
        margin-top: 2px;
        width: 250px;
        color: black;
        font-size: 18px;
        margin-left: 15%;

      }
      .specialization{
        position: relative;
        left: 21.5%;
        top: -30px;
        line-height: 40px;
        width: 400px;
        border-radius: 6px;
        padding: 0 22px;
        font-size: 16px;
        margin: 5px 0 3px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;

      }
  