.thenav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center ;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial;
  transition: 1s;
}
.nav-links ul li a:hover{
  color: #c7c7c7;
}
p{
  font-size: px;
  color: #fff;
  margin-left: -10px;
}
.thenav img{
  width: 100px;
  margin-left: -70px;
}

footer{
  background-color: rgb(27, 0, 177);
  height: 160px;
}
