form {
    border: 3px solid #f1f1f1;
    width: 500px;
    margin: 0 auto;
    
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /*style for buttons */
  button {
    background-color: #5f6462;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /*hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  
  .container {
    padding: 16px;
    width: 350px;
   
  }
  
  .checkbox {
    left: 250px;
  
  } 