<div class="container">
    <form action="action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Surname</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your Surname..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="dob">Date of Birth</label>
        </div>
        <div class="col-75">
          <input type="text" id="dob" name="date of birth" placeholder="DD-MM-YYYY">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="gender">Gender</label>
        </div>
        <div class="col-75">
          <input type="text" id="gender" name="gender" placeholder="   ">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Semail">Student Email</label>
        </div>
        <div class="col-75">
          <input type="text" id="Semail" name="Student Email" placeholder="  ">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Institution">Institution</label>
        </div>
        <div class="col-75">
          <select id="institution" name="institution">
            <option value=""></option>
            <option value=" Tshwane University of Technology">Tshwane University of Technology</option>
            <option value="University of Pretoria">University of Pretoria</option>
            <option value="Unisa">Unisa</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="StudentNr">Student Number</label>
        </div>
        <div class="col-75">
          <input type="text" id="StudentNr" name="Student Number" placeholder="Student Number ">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Mobile">Mobile Number</label>
        </div>
        <div class="col-75">
          <input type="text" id="Mobile" name="Mobile Number" placeholder="  ">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="proof of reg ">Recent Proof of Registration</label>
        </div>
        <div class="col-75">
          <input type="text" id="proof of reg" name="proof of reg " placeholder="  ">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="Status">Status</label>
        </div>
        <div class="col-75">
          <select id="Status " name="Status">
            <option value=" "> </option>
            <option value=" Team"> Team </option>
            <option value="Individual"> Individual</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="About Us">How did you hear About us ?</label>
        </div>
        <div class="col-75">
          <select id="About Us" name="About Us">
            <option value=""></option>
            <option value="Campus">Campus</option>
            <option value="Socials">Socials</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>



  
      
      
    </form>
  </div>
