<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
</head>
<body>

    <div class="imgcontainer">
      <img src="../assets/tut-logo.png">
    </div>

  <div class="container">
    <form action="" #regForm="ngForm" [formGroup]="userLoginForm" (ngSubmit)="clickhandle()">
      <div class="form group">

          <h1>Login</h1>
          <p>Welcome back please fill up the form to login !</p><br>

          <label for="email"><b>Email</b></label>
          <input type="text" formControlName="email" placeholder="Email Address" class="form-control" required id="email" [(ngModel)]="emal" name="string" email="true">
      </div>

           <!---error message-->
           <div *ngIf="emails.invalid && (emails.touched || emails.dirty)" >
            <span class="alert" *ngIf="emails.errors?.required">*emails is required</span>
            <span class="alert" *ngIf="emails.errors?.email">*Enter valid email address</span>
           
            </div>


      <div class="form group">
          <label for="password"><b>Password</b></label>
          <input type="password" formControlName="password" placeholder="Enter password" class="form-control" required  [(ngModel)]="passw" id="password" name="string">
      </div>

                <!---error message-->
                <div *ngIf="passwords.invalid && (passwords.touched || passwords.dirty)" >
                  <span class="alert" *ngIf="passwords.errors?.required">*Password is required</span>
                  <span class="alert" *ngIf="passwords.errors?.minlength">*Password must be atleast be 6 characters</span>
                 
              </div>
    




     <a href="home"><button type="submit">Login</button></a>
    <br>
    <label>
      <input type="checkbox"  name="remember"> Remember me
    </label>
    <span class="psw">Forgot <a href="" style="color: goldenrod">password?</a></span>

  </form>
  </div>

</body>
</html>
