<!--    <app-sidebar></app-sidebar>                                      -->
  

<div class="title"> 
    <h1>Content Upload</h1>
</div>


<mat-card class="card">
    <form class="form">  

        <mat-form-field class="form-field" appearance="fill">
            <mat-label class="label" >Name</mat-label>
            <input matInput required>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
            <mat-label class="label" >Surname</mat-label>
            <input matInput required>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
            <mat-label class="label">Category</mat-label>
            <mat-select required="option">
            <mat-option value="one">Lead Organizing Team</mat-option>
            <mat-option value="two">Industry Volunteers</mat-option>
            <mat-option value="two">Organizing Team</mat-option>
            </mat-select>        
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
            <mat-label class="label" >Description</mat-label>
            <textarea class="description" matInput required ></textarea>
        </mat-form-field>

        <div class="file">
            <h2>File Upload</h2>
            <input class="in-file" type="file" (change)="onFileSelected($event)"> 
            <button mat-raised-button class="btn-upload" type="button">Upload</button>  
        </div>
    </form>
</mat-card>

<!--
<mat-card>
    <form class="form-content"> 
        <div class="Content">
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Category</th>
                        <th>Description</th>
                    </tr>
                </thead>
            </table>
        </div>
    </form>
</mat-card>
-->

<div>
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>
</div>