<app-sidebar></app-sidebar>  

<div class="title"> 
    <h1>Content Upload</h1>
</div>


<mat-card class="card">
    <form class="form">  

        <mat-form-field class="form-field" appearance="fill">
            <mat-label class="label" >Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
            <mat-label class="label" >Surname</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
            <mat-label class="label" >Category</mat-label>
            <mat-select>
            <mat-option value="one">Lead Organizing Team</mat-option>
            <mat-option value="two">Industry Volunteers</mat-option>
            <mat-option value="two">Organizing Team</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
            <mat-label class="label" >Description</mat-label>
            <textarea class="description" matInput></textarea>
        </mat-form-field>

        <angular-file-uploader
            [config]="afuConfig">
        </angular-file-uploader>

        <div class="upload">
            <button type="button" class="submit">Submit</button>
        </div>

    </form>

</mat-card>