@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";
:root{
    --color-main:#1a202e;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar-toggle{
    display: none;
}

#sidebar-toggle:checked ~ .sidebar{
    left: -100%;
}

#sidebar-toggle:checked ~ .main-content header{
    left: 0;
    width: 100%;
    right: 0;
}

#sidebar-toggle:checked ~ .main-content{
    margin-left:0;
}


.sidebar{
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 16px;
    background: rgb(11, 24, 102);
    color: #fff;
    z-index: 20;
    transition: left 300ms;
}
.sidebar-user{
    margin: 16px 10px;
    text-align: center;
    margin-top: 90px;
}
.sidebar-user img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;

}
.sidebar-user h3{
    font-size: 25px;
}
.sidebar-user span {
    font-size: 15px;
}
.sidebar-menu {
    position: relative;
    margin-top: 40px;
    width: 100%;
}
.sidebar-main img{
    background-color: rgb(74, 44, 185);
}
.sidebar-menu ul{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.sidebar-menu ul li {
    position: relative;
    width: 100%;
    list-style: none;
    height: 100%;
    border-radius: 48px 0 0 48px;
    padding: 2px;
}
.sidebar-menu ul li:hover{
    background: rgba(158, 153, 153, 0.452);
    position: relative;
}
.sidebar-menu ul li a{
    position: relative;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
}
.sidebar-menu ul li a .icon{
    position: relative;
    display: block;
    min-width: 70px;
    height: 50px;
    margin-left: -25%;
}
.sidebar-menu li a i{
    font-size: 20px;
    color: #fff;
}
.sidebar-menu li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 20px;
    color: #fff;
    text-align: start;
    white-space: nowrap;
}
.logout{
    position: relative;
    bottom: -30px;
    height: 30px;
}
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    position: fixed;
    left: 280px;
    width: calc(100% - 280px);
    top: 0;
    z-index: 20;
    background:  rgb(11, 24, 102);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: left 300ms;
}
.menu-toggle label{
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    font-size: 24px;
    border-radius: 50%;
    color: #fff;
}
.dashboard{
    font-size: 25px;
    position: absolute;
    left: 80px;
}
.header-icons{
    height: 35px;
    display: flex;
    overflow-x: hidden;
    position: relative;
    margin-bottom: 11px;
}
.header-icons i{
    position: relative;
    left: 10%;
    margin-top: 9px;
    font-size: 20px;
}
.header-icons input{
    width: 300px;
    border-radius: 20px;
    padding: 10px 36px 10px 16px;
    border: none;
    outline: none;
    text-align:center;
}
.head-icon{
    color: #fff;
    font-size: 40px;
    padding: 10px;
}
.menu-toggle label:hover{
    background: grey;
}
.main-content{
    margin-left: 280px;
    transition: margin-left 300ms;
}
main{
    padding: 24px;
    min-height: calc(100vh - 90px);
    margin-top: 50px;
}
.las-icon{
    font-size: 25px;
}
.content-area{
    font-size: 20px;
    color: #fff;
}
.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
}
.card-single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 7px 20px 0px rgb(0 0 0/ 10%);
    font-size: 15px;
}
.card-single div:last-child span{
    color: rgb(73, 43, 241);
}
.card-single div:first-child span{
    color: rgb(73, 43, 241);

}
.card-single:last-child {
    background: #fff;
}
.card-single:first-child {
    background: #fff;
}
.card-single:first-child h1,
.card-single:last-child h1,
.card-single:first-child div:last-child span,
.card-single:last-child div:last-child span{
    color: rgb(73, 43, 241);
}

.participants{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.table{
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.table thead tr th{
    color: black;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}
.table tbody tr td{
    font-size: 20px;
}

.table th,
.table td{
    padding: 10px 10px;

}
.table tbody tr td{
    border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
    background: lightgray;
}
.table tbody tr:last-of-type{
    border-bottom: 2px solid #ddd;
}
/*
.table button{
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    font-size: 15px;
}
.table button:hover{
    background: rgb(112, 72, 253);
    color: #fff;
    transition: 0.5s;
}
*/
.table tbody tr td .view {
    background-color: rgb(170, 170, 5);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid;
    padding: 6px 20px;
}
.table tbody tr td .accept {
    background-color: rgb(24, 24, 197);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid;
    padding: 6px 20px;
    position: absolute;
    left: 90%;
    margin-top: -30px;
}
.table tbody tr td .reject {
    background-color: rgba(228, 21, 21, 0.925);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid;
    padding: 6px 20px;
    position: absolute;
    right: 2%;
    margin-top: -30px;
}
.participants-list h1{
    font-size: 25px;
}
.left{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
.left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 10px;
    font-size: 20px;
}
.left .breadcrumb li a{
    color: darkgray;

}
.left .breadcrumb li a.active{
    color: blue;
}
.detail-header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.detail-header h4{
    font-size: 32px;
}
.detail-header button {
    height: 40px;
    width: 120px;
    border: 1px solid rgb(98, 98, 250);
    background-color: rgb(98, 98, 250);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}
.card-detail table{
    width: 100%;
    border-collapse: collapse;
}
.card-detail table tr:nth-of-type(odd){
    background-color: #f8f8fb;
}
.card-detail table th {
    background-color: #f4f4fb;
}
.card-detail table th,
.card-detail table td{
    padding: 12px 5px;
    text-align: left;
    min-width: 120px;
    font-size: 14px;
}
.notification img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    position: relative;
    left: 1200%;
}
.but-log i{
    color: black;
    font-size: 21px;
    left: 20%;
    position: relative;

}
.log-icon {
    height: 35px;
    width: 95px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
}

