*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.art-title{
    width: 100%;
    font-size: 20px;
}
.heading h6{
    position: relative;
    left: 40%;
    font-size: 25px;
}
button{
    background-color: grey;
    cursor: pointer;
}