<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Show Password</title>
</head>
<body>
  <i class="fa-brands fa-twitter"></i>
    <div class="form-box">
        <h1>Login Here</h1>
        <div class="input-box">
            <input type="email" placeholder="Enter username or email">
        </div>
        <div class="input-box">
            <input type="password" placeholder="Enter password">
        </div>

        <button type="button" class="login-btn">Login</button>

      <div class="pass">
        <a href="#">Forgot password?</a><br>
        <a href="#">Remember password</a>
        <input type="checkbox" id="rem-pass" name="">
      </div>

    </div>

</body>
</html>
