@media (max-width:1400px){
*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body{
  height: 100vh;
  width: 100%;
  background:#fff;
  background-size: cover;
  background-position: center;
}
.form-box{
  width: 500px;
  background:#f3f2f2;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  padding: 50px 0;
  color: #fff;
}

.login-word{
  height: 50px;
  background: #0059ff;
}
.login-word h1{
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #fff;

}
.input-box{
  margin: 31px auto;
  width: 80%;
  border: 1px solid #0059ff;
  outline: none;
  padding-top: 10px;
  padding-bottom: 5px;
}
.input-box input{
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #000;
  font-size: 16px;
  margin-left: 6px;
}
::placeholder{
  color:#000;

}

.login-btn{
  margin: 40px auto 20px;
  width: 30%;
  display: block;
  outline: none;
  padding: 10px 0;
  border:none;
  cursor: pointer;
  background: #0059ff;
  color:#fff;
  font-size: 15px;
  transition: .6s ease-in;
}
.login-btn:hover{
  box-shadow: 0 0 10px #000;
 }

}
@media (max-width:497px)  {

*{
  margin: 0;
  padding: 0;
  font-family: Arial;
}
body{
  height: 100vh;
  width: 100%;
  background:#fff;
  background-size: cover;
  background-position: center;
}
.form-box{
  width: 300px;
  background:#f3f2f2;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  padding: 50px 0;
  color: #fff;
}
.login-word{
  height: 50px;
  background: #0059ff;
}
.login-word h1{
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #fff;

}
.input-box{
  margin: 31px auto;
  width: 80%;
  border: 1px solid #0059ff;
  padding-top: 10px;
  padding-bottom: 5px;
}

.input-box input{
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #000;
  font-size: 15px;
  margin-left: 6px;

}
::placeholder{
  color:rgb(70, 70, 70);

}


.login-btn{
  margin: 40px auto 20px;
  width: 30%;
  display: block;
  outline: none;
  padding: 10px 0;
  border:none;
  cursor: pointer;
  background: #0059ff;
  color:#fff;
  font-size: 15px;
  transition: .6s ease-in;
}
.login-btn:hover{
 box-shadow: 0 0 10px #000;
}

}
