
<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TVH WEBSITE</title>

</head>
<body>
  <section class="menu">
    <a href="home"><img src="../assets/tut-logo.png"></a>
    <nav class="thenav">


      <div class="nav-links">
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="rewards">Rewards</a></li>
          <li><a href="gallery">Gallery</a></li>
        </ul>
      </div>
    </nav>
  </section>
<section class="container">
  <div class="pic">
    <img src="../assets/aboutPic.jpg">
    <h1 class="heading">What do you need?</h1>
    <p class="para-word"> You will need your laptop/desktop and<br>internet connection to connect to the online event.</p>
    <h1 class="def-word">What Is TVH ?</h1>



  </div>
  <div class="tshwane-var">
    <p class="tshwane-v">The Tshwane Varsity Hackthon is a hacking competition that is<br>organised by the Tshwane University of Technology's faculty of<br>
      Information and Communication Technology and the Technology and Research & Innovation office.<br><br>
     On the day of the hackathon, participants will be requested to come up<br>with solutions to certain real-life problems by using technology.<br>
     Each teams will be allocated a mentor/coach to work with during the duration of the Hackthon.
     </p>
  </div>
  <div class="part-board">
    <h1>Who Can Participate ?</h1>
  </div>
  <div class="participate-board">
    <p>The Tshwane Varsity Hackthon is open to students from TUT,UP,SMU and UNISA.</p>
  </div>
  <div class="app-fee">
    <h1> Application Fee? </h1>
  </div>
  <div class="fee-ans">
    <p>Joining the Tshwane Varsity Hackthon is Completely Free!</p>
  </div>
  <div class="teams-form">
    <h1>How will teams be formed ?</h1>
  </div>
   <div class="workshop">
    <p>The teams will be formed during the workshop day</p>
   </div>


</section>



<section>
  <div class="footer">


      <nav class="navig-bar">
        <div class="nav-bars">
          <ul>
            <li><a href="#">Sponsors</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Rules</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Personnel Portal</a></li>
          </ul>
        </div>

      </nav>



    <p>Copyrights&copy; TUT 2022</p>
  </div>

</section>

</body>
</html>
