<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    />
    <script src="script.js"></script>
    <title>The Public Annoucement</title>
  </head>
  <body>
    <a href="home"><img src="../assets/tut-logo.png" /></a>
    <nav class="thenav">
      <div class="nav-links">
        <ul>
          <li><a href="home.component">Home</a></li>
          <li><a href="about.component.html">About</a></li>
          <li><a href="gallery.component.html">Gallery</a></li>
          <li><a href="rewards.component.html">Rewards</a></li>
          <li><a href="announcements.component.html">Announcements</a></li>

        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-1">
          <h1>ANNOUNCEMENTS</h1>
          <br />

          <button class="btn">Notifications <i class="fa fa-bell"></i></button>
          <br /><br />

          <table id="app-table" class="table">
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let us of readData">
                    <th>{{us.message}}</th>
                    <td>

                       <!-- <diV>
                           <button (click)="getStatusAccepted(us)" class="accept">Accept</button>
                        </diV>
                       <diV>
                           <button (click)="getStatusRejected(us)" class="reject">Reject</button>
                        </diV> -->
                    </td>
                </tr>
            </tbody>
        </table>

          <form class="search" action="/action_page.php">

            <br /><br />
          </form>


          <div class="dropdown-container">
            <a href="#"></a>
          </div>

          <div class="dropdown-container">
            <a href="#"></a>
          </div>

        </div>
        <div class="vertical"></div>
        <div class="col-2">
          <h3>Title</h3>
          <h4>IDC30BB 12 April Online Meeting</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
            nostrum saepe, obcaecati at nemo sequi consequatur dolorem minima
            voluptas? Veniam natus laborum quas quos excepturi, corrupti
            voluptas repudiandae modi exercitationem.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>