<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>public-announcement</title>
</head>
<body>
  <section class="menu">

    <nav class="thenav">
      <div class="nav-links">
        <a href="home"><img src="../assets/tut-logo.png"></a>
         <h1>Tshwane Varsity Hackathon 2022</h1>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="about">Onboarding</a></li>
          <li><a href="rewards">About</a></li>
          <li><a href="public-annoucement">Announcements</a></li>
          <li><a href="team">Team</a></li>
        </ul>
        <a target="_blank" href="login-form"><button class="the-admin">ADMIN</button></a>
      </div>
    </nav>

  </section>
  <section>
    <div class="main">
      <h1 class="ann-heading">Announcements</h1>
      <p class="updates">Latest updates the Hackathon</p>
    </div>
  </section>
  <section>
    <div class="lastest-ann">
      <p>Lastest Announcements</p>
    </div>
  </section>
  <section>
    <div class="horizontal-line">
    </div>
  </section>
  <section>
     <div class="ann-row">
      <div class="posted-ann">
        <h2>Final hackers shortlist</h2>
        <p>
          Hi hackers and attandees please find the attached shortlist of the Hackathon hackers.
        </p>
        <a target ="_blank" href="ACADEMIC RECORD.pdf" download class="download-btn">Download PDF</a>
      </div>
      <br>
      <section>
        <div class="hori-line">
        </div>
      </section>
      <div class="posted-ann">
        <h2>Industry volunteers may now register</h2>
        <p>Prestigous Industry voluteers can now register to be part of the 2022 Hackathon.</p>
      </div>
      <section>
        <div class="hori-line">
        </div>
      </section>
      <div class="posted-ann">
        <h2>TVH Rules changed</h2>
        <p>
          The rules have been changed to suit and accommodate all the attendees, stakeholders and hackers.
        </p>
      </div>
      <section>
        <div class="hori-line">
        </div>
      </section>
     </div>

  </section>
  <section>
    <div class="the-faq">
      <h2>FAQ's</h2>
    </div>
    <div class="wrapper">
      <div class="parent-tab">
        <input type="radio" name="tab" id="tab-1" checked>
        <label for="tab-1">
          <span>Who can enter?</span>
          <div class="icon"><i class="las la-plus"></i></div>
        </label>
        <div class="content">
          <p>TVH is open for all TUT students</p>
        </div>
      </div>
      <div class="parent-tab">
        <input type="radio" name="tab" id="tab-2">
        <label for="tab-2">
          <span>How much is the prize money?</span>
          <div class="icon"><i class="las la-plus"></i></div>
        </label>
        <div class="content">
          <p>TVH is open for all TUT students</p>
        </div>
      </div>
      <div class="parent-tab">
        <input type="radio" name="tab" id="tab-3">
        <label for="tab-3">
          <span>Which Development stacks are accepted?</span>
          <div class="icon"><i class="las la-plus"></i></div>
        </label>
        <div class="content">
          <p>TVH is open for all TUT students</p>
        </div>
      </div>
      <div class="parent-tab">
        <input type="radio" name="tab" id="tab-4">
        <label for="tab-4">
          <span>Is TVH responsible for my solution's incubation?</span>
          <div class="icon"><i class="las la-plus"></i></div>
        </label>
        <div class="content">
          <p>TVH is open for all TUT students</p>
        </div>
      </div>
    </div>

  </section>

<app-footer></app-footer>
</body>
</html>
