<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reward Page</title>
  </head>
  <body>
    <section class="menu">
      <nav class="thenav">
        <a href="home"><img src="../assets/tut-logo.png" /></a>
        <div class="nav-links">
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="rewards">Rewards</a></li>
            <li><a href="announcements">Announcements</a></li>
          </ul>
        </div>
      </nav>
    </section>
    <div class="container0">
      <h1>Stand A Chance To Win !</h1>
      <h2>Great Prizes</h2>
    </div>
    <div class="container1">
      <li>
        <a href="#" class="button">CLICK, CONNECT, HACK</a>
      </li>

      <h3>Deadline For Entries 26 May 2022</h3>
      <p>INTRESTED APPLICATIONS MUST REGISTER BEFORE DEADLINE</p>
    </div>
    <footer>
      <ul class="footer_items">
        <li class="footer_item">
          <a href="#" class="footer_link"><b>Sponsors</b></a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link"><b>Team</b></a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link"><b>Rules</b></a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link"><b>FAQ</b></a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link"><b>Personnel Portal</b></a>
        </li>
      </ul>
    </footer>
    <router-outlet></router-outlet>
  </body>
</html>
