body {
  background-color: black;
  color: white;
}
.container0 {
  width: 65%;
  margin: 0 auto;
  /* padding-top: 5em; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.container1 {
  width: 65%;
  margin: 0 auto;
  /* padding-top: 5em; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
  border-radius: 10px;
}

.container2 {
  width: 65%;
  margin: 0 auto;
  padding-top: 2em;
  font: weight 0;
}

.col-1_1 {
  width: calc((100% - 2 * 1rem) / 2);
}
.col-1_2 {
  width: calc((100% - 2 * 1rem) / 2);
}
.row {
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.footer_items {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  text-decoration: none;
}
.footer_link {
  padding: 0.5rem;
  text-decoration: none;
}
.nav-links {
  flex: 1;
  text-align: center;
}
.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
}
.nav-links ul li a:hover {
  color: #0121d6;
  font-size: 15px;
  transition: 1s;
}
