<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reward Page</title>
  </head>
  <body>
    <nav>
      <div class="nav-links">
        <ul>
          <li><a href="home.component.html">Home</a></li>
          <li><a href="about.component.html">About</a></li>
          <li><a href="rewards.component.html">Rewards</a></li>
          <li><a href="gallery.component.html">Gallery</a></li>
        </ul>
      </div>
    </nav>
    <div class="container0">
      <h1>Stand A Chance To Win !</h1>
    </div>
    <div class="container1">
      <p>
        The Tshwane Varsity Hackathon is hacking competition that is organized
        by the Tshwane University of Technology's faculty of Information and
        Communication Technology and Research & Innovation office.
        <br />
        <br />
        On the day of the Hackathon, participants will be requested to come up
        with solutions to certain real life problems by using Technology. Each
        team will be allocated a mentor/coach to work with during the duration
        of the Hackathon.
      </p>
    </div>

    <div class="container2">
      <div class="row">
        <div class="col-1_1">
          <h2>What do you need?</h2>
          <p>
            You will need your laptop/desktop and internet to connect to the
            online event.
          </p>
        </div>
        <div class="col-1_1">
          <h2>Who Can Participate?</h2>
          <p>
            The Tshwane Varsity Hackathon is open to students from TUT,UP,SMU
            And UNISA
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-1_2">
          <div class="container1">
            <h2>Application Fee?</h2>
          </div>

          <p>Joining the Tshwane Varsity Hackathon is Completely FREE !</p>
        </div>
        <div class="col-1_2">
          <h2>How will teams be formed?</h2>
          <div class="container1">
            <p>The teams will be formed during the workshop day</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <ul class="footer_items">
        <li class="footer_item">
          <a href="#" class="footer_link"><b>Sponsors</b></a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link"><b>Team</b></a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link"><b>Rules</b></a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link"><b>FAQ</b></a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link"><b>Personnel Portal</b></a>
        </li>
      </ul>
    </footer>
    <router-outlet></router-outlet>
  </body>
</html>
