*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif ;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
}
.title{
    position: relative;
    left: 6%;
}
.container{
    width: 70%;
    margin: 2px auto;
}
h1{
    text-align: center;
    font-size: 35px;
    position: relative;
    left: 0%;
}
table{
    width: 80%;
    border-collapse:collapse;
}
thead,tbody{
    width: 80%;
    text-align: center;
}
thead th{
    font-size: 20px;
}
tbody tr{
    font-size: 15px;
}
button{
   
}
.rej{
    position: relative;
    left: 30%;
}




