<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
 
</head>
<body>
 

  
  
  <h1>Admin Portal</h1> 
  <section class="container">
        <div class="content">
            <p> Nokulunga</p> <input type="checkbox"> <a class="link"  href="#">View</a>
            <p>Vuyelo Chauke</p> <input type="checkbox"> <a class="link" href="#">View</a>
            <p>Lindelani Mthemthwa</p> <input type="checkbox"> <a class="link" href="#">View</a>
            <p>Sandile Mhlophe</p> <input type="checkbox"> <a class="link"href="#">View</a>
            <p>Nhlakanipho Makhaza</p> <input type="checkbox"> <a class="link" href="#">View</a>
            <p>Thandi Mkhwebo</p> <input type="checkbox"> <a class="link"href="#">View</a>
            <p>Richard Sthole</p> <input type="checkbox"> <a class="link" href="#">View</a>
          </div>

            <div class="btn">
                <button class="acc-btn">Accept</button>
                <button  type="button">Reject</button>
            </div>
                
        <div class="reply">
          <textarea name="message"  id="comment" rows="5" cols="20"></textarea>
        </div >
        <br>


        <div class="dropbutton">
            <div class="dropdown">
              <select>
                <option>Comment</option>
                <option>Select marked</option>
                <option>Select all marked</option>
              </select>
            </div>
        </div>

    </section>
    
</body>
</html>