*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
}
.back{
    border-radius: 5px;
}
.content
{
    width: 430px;
    height: 300px;
    box-shadow: 0 0 80px 0 rgba(0,0,0,0.3);
    background: #fff;                   
    padding: 30px;
    top: 7%;
    margin: 8% auto 0;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 100px;
}
.link{
    position: relative;
    top: -40px;
    left: 65%;
    color: blue;

}
input[type="checkbox"] {
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 60px;
    left: 60%;
    top: -35px;
}
h1{
    position: absolute;
    left: 45%;
    padding: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
button{
    width: 170px;
    padding: 15px 0;
    text-align: center;
    margin: 30px 40px;
    border-radius: 20px;
    font-weight: 40%;
    border: 1px;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-weight: bolder;
    background-color: rgb(221, 15, 15);
    font-size: larger;
    top: 20px;
}
.icon{
    font-size: 30px;
    cursor: pointer;
}
span{
    background-color: #9b9b9a ;
    height: 90%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 90%;
}

.btn{
    width: 300px;
    margin: 0% auto 0;
    text-align: center;

}
.container{
    width: 500px;
    height: 820px;
    border-radius: 80px;
    background-color: rgb(138, 138, 138);
    align-items: center;
    left: 40%;
    position: relative;
    
}
textarea{
    background: #f2f2f2;
    width: 400px;
    font-size: 15px;
    position: relative;
    left: 10%;
    height: 200px;
}
.dropbutton{
    width: 140px;
    position: relative;
    margin: 0% auto 0;
}
.dropdown select{
    height: 42px;
    padding: 10px 15px;
    line-height: 18px;
    font-size: 16px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    appearance: none;

}
.dropdown:after{
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -4px;
    border-top: 8px solid #ccc;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events:none;
}
.acc-btn{
    background-color:rgb(62, 62, 252);
    margin: 20% auto 0;
}
