<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
 
</head>
<body>
  <div class="container">
       <h1>Admin Portal</h1>
          <div class="title">
              <h2>Applicants List</h2>
          </div>
              <table class="info">
                  <thead>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-label="Nhlakanipho"></td>
                      <td data-label="Makhaza"></td>
                      <td data-label="nhlakanipho19sphelele@gmail.com"></td>
                      <td data-label=""></td>
                      <td data-label=""><button class="acc">Accept</button><button class="rej">Reject</button></td>
                      <a href="View"></a>
                    </tr>
                  </tbody>
              </table>
   
   
</div>
</body>
</html>