<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up </title>

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <div class="signup-box">
      <h1>Sign Up</h1>
      <h4>Please fill in this form to create an account</h4>



      <form>



        <label>First Name</label>
        <input type="text" placeholder="Enter your first name" />
        <label>Last Name</label>
        <input type="text" placeholder="Enter your last name" />
        <label>Email</label>
        <input type="email" placeholder="Enter your email" />
        <label>Password</label>
        <input type="password" placeholder="Enter your password" />
        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm your password" />

        <button type="button"  class="signUP-btn" >Submit</button>


      </form>

     <p>
        Already have an account? <a href="user-login">Login here</a>
      </p>
    </div>

  </body>
</html>
