<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up </title>


  </head>
  <body>

    <div class="signup-box">
      <h1>Sign Up</h1>
      <h4>Please fill in this form to create an account</h4>


      <form #signForm="ngForm" (ngSubmit)="clickhandle()" [formGroup]="signupForm"  >
        
        <br>
        <br>
      



      

        <label>First Name</label>
        <input type="text" formControlName="name" class="name" placeholder="Enter your full names" name="name"  required [(ngModel)]="names" id="names"  namesControl="ngModel" />

          <!---error message-->
          <div *ngIf=" submitted &&  f.name.invalid && (f.name.touched || f.name.dirty)"   >
            <span class="alert" *ngIf=" f.name.errors?.required">*Full names are required</span>
            <span class="alert" *ngIf="f.name.errors?.pattern">*Enter only characters</span>

          </div>

     
        <label>Last Name</label>
        <input type="text" formControlName="surname" class="name"  placeholder="Enter your last name" required [(ngModel)]="surnam" id="surnamee" name="surnamee" namesControl="ngModel" />


          <!---error message-->
          <div *ngIf=" submitted &&  f.surname.invalid && (f.surname.touched || f.surname.dirty)"   >
            <span class="alert" *ngIf=" f.surname.errors?.required">*Last name is required</span>
            <span class="alert" *ngIf="f.surname.errors?.pattern">*Enter only characters</span>

          </div>  


        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Enter username or email" required [(ngModel)]="emal"  id="email" name="email" email="true"/>

                  <!---error message-->
                  <div *ngIf=" submitted && f.email.invalid && (f.email.touched || f.email.dirty)"   >
                    <span class="alert" *ngIf=" f.email.errors?.required">*Email is required</span>
                    <span class="alert" *ngIf="f.email.errors?.email">*Enter valid email address</span>
        
                  </div>  

        <label>Password</label>
        <input type="password" formControlName="passwordi" placeholder="Enter password" required [(ngModel)]="password"  id="password" name="password" namesControl="ngModel"  />

                          <!---error message-->
                          <div *ngIf=" submitted && f.passwordi.invalid && (f.passwordi.touched || f.passwordi.dirty)"   >
                            <span class="alert" *ngIf="f.passwordi.errors?.required">*Password is required</span>
                            <span class="alert" *ngIf="f.passwordi.errors?.minlength">*Password must be atleast be 6 characters</span>
                
                          </div> 
                          
                          
                          
        <label>Confirm Password</label>
        <input type="password" formControlName="confPass" placeholder="confirm enter password"  required [(ngModel)]="confirmPassword"   id="confPass"  name="confPass"  namesControl="ngModel" />
                  
  


        <button type="submit" class="signUP-btn"  >Submit</button>


      </form>

     <p>
        Already have an account? <a href="user-login">Login here</a>
      </p>
    </div>

  </body>
</html>
