@media (min-width:1281px){
  body {
    width: 100%;
    height: 100vh;
    background-color: #dbdbdb;
    font-family: "Roboto", sans-serif;
    background-position: center;
    background-size: cover;

    }


    .signup-box {
    width: 400px;
    height: 580px;
    margin-top: 30px;
    background-color:rgba(0, 60, 139, 0.904);
    position: absolute;
    left: 36%;
    border-radius: 3px;

    }

    h1 {
    text-align: center;
    padding-top: 15px;
    color : rgb(255, 196, 0);
    }

    h4 {
    text-align: center;
    color:white;

    }

    form {
    width: 300px;
    margin-left: 20px;
    }

    form label {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    color:white;
    }

    form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
    }
    .signUP-btn{
      margin-top: 15px;
      margin-left: 72px;
      width: 70%;
      display: block;
      outline: none;
      padding: 10px 0;
      border:none;
      cursor: pointer;
      background: #ff0000;
      color:#fff;
      font-size: 15px;

    }
    .signUP-btn:hover{
      background: #c40101;
     }
    p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color:white;

    }
    a{
      color:rgb(255, 196, 0);
    }



}
