/* Navbar */
.thenav {
  display: flex;
  justify-content: space-between;
  padding: 2% 15%;
  align-items: center;
  background: white;
  height: 3rem;
}
nav img {
  width: 100px;
  margin-left: -90px;
  filter: brightness(110%);
}
.nav-links {
  flex: 1;
  text-align: end;
}
.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  background-color: rgb(14, 14, 121);
  border-radius: 10px;
}
.nav-links ul li a:hover {
  color: rgb(218, 158, 7);
  font-size: 15px;
  transition: 1s;
}
.container figure img {
  height: auto;
  width: 100%;
  background: rgba(12, 12, 12, 0.829);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  box-sizing: border-box;
}

.heading {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-align: center;
  padding-top: 200px;
  margin-left: 30px;
}
.heading2 {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-align: center;
  padding-top: 200px;
  margin-left: 370px;
  margin-top: 120px;
}
p {
  color: #fff;
  font-weight: bold;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-align: center;
  padding-top: 200px;
  margin-left: 270px;
  margin-top: 350px;
}
