<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reward Page</title>
  </head>
  <body>
    <nav class="thenav">
      <a href="home"><img src="../assets/tut-logo.png" /></a>
      <div class="nav-links">
        <ul>
          <li><a href="#">SIGN UP</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <figure>
        <span class="heading">WELCOME TO TSHWANE VARSITY HACKATHON</span>
        <span class="heading2">2022 COMPETITION</span>
        <p>Please sign up to see more of our content...</p>
        <img src="../assets/images.jpeg" />
      </figure>
    </div>

    <router-outlet></router-outlet>
  </body>
</html>
