
.theMain{
    height: 135vh;
    width: 100%;
    background: #ebebeb;
  }
  input {
      width: 99%;
      border: none;
      outline: none;
      border-bottom: 1px solid #000;
      height: 30px;
      font-size: 15px;
  
  }
  button{
    background:#ff0000;
    color: #fff;
  }
  button:hover{
   color: #fff;
   background: #ff0000;
   box-shadow: 0 0 7px #ff0000,0 0 7px #ff0000;
  }
  .mat-card-header{
  
      background-color: #013b92;
      color: white;
      justify-content: center;
      width: 100%;
  }
  form{
    width: 100%;
  }
  .mat-card{
    width: 70%;
    height: 60%;
    position: relative;
    top: 10%;
    left: 20%;
  }
  
  