*{
    height: 300px;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.yes{
    font-size: larger;
    padding: 12px 16px;
}
.no{
    font-size: larger;
    padding: 12px 16px;
}
.modal-container{
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.modal-open{
    display: flex;
}