<app-sidebar></app-sidebar>


<mat-card class="card">
    <div class="title">
        <label> Leader/Mentor </label>
        <button mat-raised-button color="primary" (click)="openDialog()"> Add </button>
    </div>

 <table class="table" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Occupation</th>
                <th>Image</th>
                <th>Category</th>
                <th>Description</th>
                <th style="width: 18%;">Action</th>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>

</body>
</html>
