<app-sidebar></app-sidebar>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>
<body>
   



<mat-card class="card">
    <div class="title">
        <label> Leader/Mentor </label>
        <button mat-raised-button color="primary" (click)="openDialog()"> Add </button>
    </div>

 <table class="table" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Occupation</th>
                <th>Image</th>
                <th>Category</th>
                <th>Description</th>
                <th style="width: 18%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nhlakanipho</td>
                <td>Makhaza</td>
                <td>Intern</td>
                <td><img class="image" src="../assets/profile.jpg" width="80" height="80"></td>
                <td>Mentor</td>
                <td>Experienced Business Systems Analyst with a demonstrated history of working in the computer software development industry. Skilled in Analytical Skills, Team Building, Project Management, UI design and development, Resource Management, Scrum facilitating, Tax Analysis and Business Intelligence. Strong business development professional with a Certificate focused in Business Systems Analysis from University of Cape Town.
                    Member of Toast Masters in the year 2018.
                    Spoken to over 2000 students across 6 provinces through the ISFAP program.
                    A proud Alumni of TUT.</td>
                <td>
                    <button class="btn_edit" mat-raised-button style="background-color: darkgray;" color="primary"> Edit </button>
                    <button class="btn_delete" mat-raised-button style="background-color: red;" color="primary"> Delete </button>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>

</body>
</html>
