*{
  margin: 0;
  padding: 0;
}
.thenav{
  display: flex;
  justify-content: space-between;
  padding: 2% 8%;
  align-items: center;
  background: rgb(0, 14, 95);
  height: 50px;
}
nav img{
  width: 130px;
  margin-left: -170px;
  filter: brightness(110%);
  position: absolute;
  margin-top: 4%;
}
.nav-links{
  flex:1;
  text-align: center;
  justify-content: space-between;
  height: 0%;
}
.nav-links ul li{
  display: inline-block;
  padding: 8px 12px;
  position: relative;
 
}
.nav-links ul li a{
  text-decoration: none;
  color:white;
  font-size: medium;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 2px;
  padding-right: 5px;
  
  transition: .6s ease-in-out;
}
.nav-links ul li a:hover{
  color: #d1d1d1;


}
.main{

  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: 5s;


}



footer{
  background: #000;
  height: 60px;

}
footer p{
  color: #fff;
  text-align: center;
  padding-top: 35px;
}
.words{
 margin: 40px;
}
.words h1{

  font-size: 43px;
  font-weight: bolder;
  color: rgb(38, 61, 190);
  text-align: center;
}
.year h2{
  margin-top: 80px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(38, 61, 190);
  font-weight: bold;
  text-align: center;

}
.launch-time{
  display: flex;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;



}
.launch-time div{
  flex-basis: 180px;
  padding:10px;
  color: rgb(38, 61, 190);
  font-size: 20px;
}
.launch-time div p{
  font-size: 35px;
  margin-top: 7px;
  margin-bottom: -14x;
  color: rgb(38, 61, 190);
  font-weight: bold;

}
.slider{

  overflow: hidden;
  width: 100%;
  height: 60vh;


}
.slider figure div{
  float: left;
  width: 20%;
}

.slider figure img{
  height: 100vh;
  width: 100%;
  background: rgba(136, 13, 13, 0.829);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  box-sizing: border-box;

}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;

  animation: animate 50s infinite;

}
@keyframes animate{
  0%{left:0%;}
  10%{left:0%;}
  12%{left:-100%;}
  22%{left:-100%;}
  24%{left:-200%;}
  34%{left:-200%;}
  36%{left:-300%;}
  46%{left:-300%;}
  48%{left:-400%;}
  58%{left:-400%;}
  60%{left:-300%;}
  70%{left:-300%;}
  72%{left:-200%;}
  82%{left:-200%;}
  84%{left:-100%;}
  94%{left:-100%;}
  96%{left:0%;}

}
.heading {
  color:white;
  font-weight: bold;
  font-size: 60px;
  font-family: 'Times New Roman';
  position: absolute;
  text-align: center;
  padding-top: 400px;
  margin-left: 850px;
}
.thebutton{
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    margin-top: -200px;

}
.btn{
    background: #ff0000;
    outline: none;
    border: none;
    border-radius: 25px;
    width:210px;
    height: 50px;
    color:white;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;

}
.btn:hover{
  box-shadow: 0 0 10px #000;

}
.footer{
  background: rgb(0, 14, 95);
  height: 158px;
}
.navig-bar{
  display: flex;
  justify-content: space-between;
  padding: 2% 8%;
  align-items: center;
}
.nav-bars{
  flex:1;
  text-align: center;
}
.nav-bars ul li{
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-bars ul li a{
  text-decoration: none;
  color: #fff;
  font-size: medium;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  transition: .6s ease-in-out;

}
.nav-bars ul li a:hover{
  color: #d1d1d1;

}

.footer p{
  color: #fff;
  text-align: center;
  margin-top: 1px;
  font-size: medium;
  
}







