<!DOCTYPE html>
<html lang="en">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap">
  <title>The First Webpage</title>

</head>
<body>
  <section class="menu">
    <nav class="thenav">

      <a href="home"><img src="../assets/tut-logo.png"></a>

      <div class="nav-links" id="navLinks">
        <i class="las la-times" onclick="hideMenu()" ></i>
        <ul>
          <li><a href="home">HOME</a></li>
          <li><a href="about">ABOUT</a></li>
          <li><a href="rewards">ANNOUNCEMENT</a></li>
          <li><a href="gallery">REWARD</a></li>
          <li><a href="gallery">TEAM</a></li>
        </ul>
      </div>
      <i class="las la-bars" onclick="showMenu()" ></i>
    </nav>
  </section>

  <section class="words">

   <h1>Tshwane Varsity Hackathon 2022</h1>
  </section>

    <section class="launch">
      <div class="launch-time">
        <div>
            <p id = "days">{{days}}</p>
            <span>{{daysN}}</span>
        </div>
        <div>
           <p id ="hours">{{hours}}</p>
           <span>{{hoursN}}</span>
       </div>
       <div>
           <p id="minutes">{{min}}</p>
           <span>{{minN}}</span>
       </div>
       <div>
           <p id="seconds">{{secs}}</p>
           <span>{{secsN}}</span>
       </div>
    </div>

    </section>

  <section class="year">
    <h2>Time left for Hackthon</h2>
  </section>
  <section class="the-animated-images">
    <div class="slider">
        <figure>
            <div class="slide1">

              <span class="heading">Do You Have What It Takes?</span>
                <img src="../assets/slider.jpg">
            </div>
            <div class="slide2">
              <span class="heading">Do You Have Passion In Hacking?</span>
                <img src="../assets/sliderr2.jpg">
            </div>
            <div class="slide3">

                 <span class="heading">Are You Enrolled At Varsity?</span>
                <img src="../assets/sliderr3.jpg">
            </div>

            <div class="slide4">

              <span class="heading">Take A New Jounery With Us</span>
              <img src="../assets/sliderr4.jpg">
          </div>
          <div class="slide5">
            <span class="heading">Join Tshwane Varsity Hackathon</span>
            <img src="../assets/sliderr5.jpg">
           </div>
      </figure>
    </div>
</section>

<section class="thebutton">
  <a target="_blank" href="registration-form"> <button class="btn">Join Here</button></a>
</section>

<section>
  <div class="footer">


      <nav class="navig-bar">
        <div class="nav-bars">
          <ul>
            <li><a href="#">Sponsors</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Rules</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="login-form">Personnel Portal</a></li>
          </ul>
        </div>

      </nav>



    <p>Copyrights&copy; TUT 2022</p>
  </div>

</section>
<script>
   var navLinks = document.getElementById("navLinks");
    function showMenu(){
      navLinks.style.right = "0";
    }
    function hideMenu(){
      navLinks.style.right = "-200px";
    }
</script>

</body>
</html>
